.tiles-wrapper{
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    padding: 0 5%;
}

.tiles-wrapper a{
    text-decoration: none;
    color: black;
}

.tile{
    width: 33.33333%; 
    display: flex;
    flex-direction: column;
    padding: 0 2%; 
    margin-bottom: 4rem;
}

.title{
    margin-bottom: .25rem;
    font-family: 'Raleway', sans-serif;
    transition: all 0.25s;
    line-height: 100%;
    text-transform: capitalize;
}

.tile:hover .cover{
    box-shadow: 0 3px 6px 1px #D6D6D6;
}

.tile:hover .title{
   color: #FF5A5F;
}

.cover{
    border-radius: 6px;
    width: 100%;
    padding-top: 75%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 0.5rem;
    transition: all 0.25s;
}

@media only screen and (max-width: 999px){
    .tile{
        flex-direction: column;
        width: 50%;
    }

    .tile-text{
        margin-left: 0;
    }
}

@media only screen and (max-width: 788px){
    .tile{
        flex-direction: column;
        width: 100%;
        margin: 0 0 2.5rem 0;
    }

    .tile-text{
        margin-left: 0;
    }
}